---
# tasks file for ansible-role-kubernetes-nginx-ingress

# Create the namespace
- name: Test for existing namespace {{ kube_namespace }}
  ansible.builtin.command: kubectl get ns
  register: namespace_test
  changed_when: false
  tags:
    - prom_namespace

- name: Create namespace {{ kube_namespace }}
  ansible.builtin.command: kubectl create ns {{ kube_namespace }}
  when: "kube_namespace not in namespace_test.stdout"
  tags: prom_namespace

- name: Test if NginX is already installed
  ansible.builtin.shell:
    cmd: |
      helm list -n {{ kube_namespace }} | grep nginx
  register: nginx_test
  changed_when: false
  failed_when: nginx_test.rc >= 2
  tags: prom_namespace

- name: Add nginx stable chart repo
  kubernetes.core.helm_repository:
    name: nginx-stable
    repo_url: "https://helm.nginx.com/stable"
  when: "'nginx' not in nginx_test.stdout"
  tags: helm_update

- name: Update the Helm repository cache
  kubernetes.core.helm:
    name: nginx-ingress
    namespace: "{{ kube_namespace }}"
    chart_ref: nginx-stable/nginx-ingress
    state: present
    update_repo_cache: true
  when: "'nginx' not in nginx_test.stdout"
  tags: helm_update

- name: Deploy NginX helm chart
  kubernetes.core.helm:
    name: nginx-ingress
    chart_ref: nginx-stable/nginx-ingress
    release_namespace: "{{ kube_namespace }}"
    create_namespace: true
  register: nginx_installed
  until: nginx_installed is success
  tags: helm_nginx
